$primary-background: #3b4664;
$primary-color: white;
$secondary-background: #e6e6e6;
$secondary-color: #2e2d29;
$ternary-background: #17062a;
$ternary-color: #f6e148;

$primary-text-background: #181f32;
$secondary-text-background: #eeeeee;
$ternary-text-background: #1e0836;

$primary-button: #eae3db;
$primary-reset: #647299;
$primary-result: #d13f30;
$secondary-button: #e5e4e0;
$secondary-reset: #388187;
$secondary-result: #c85401;
$ternary-button: #331b4d;
$ternary-reset: #56077c;
$ternary-result: #00decf;

$primary-toggle-bg: #252c46;
$secondary-toggle-bg: #d6cccd;
$ternary-toggle-bg: #1e0837;
$primary-toggle-btn: #db3d24;
$secondary-toggle-btn: #c55605;
$ternary-toggle-btn: #00e6cd;

$primary-button-font: #485160;
$primary-reset-font: white;
$primary-result-font: white;
$secondary-button-font: #36362c;
$secondary-reset-font: white;
$secondary-result-font: white;
$ternary-button-font: #ffe858;
$ternary-reset-font: white;
$ternary-result-font: #002a40;

$interface-primary-background: #252d44;
$interface-secondary-background: #d3cdcd;
$interface-ternary-background: #1e0836;
