@import "./styles/colors";

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-background;
    color: $primary-color;
    width: 100vw;
    min-height: 100vh;

    &__interface {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;

        @media screen and (min-width: 1366px) {
            width: 40%;
            gap: 2rem;
        }
    }

    &--secondary {
        background: $secondary-background;
    }

    &--ternary {
        background: $ternary-background;
    }
}
